

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
  margin: 0px;
}

.vc-container *{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  color: white;
}

.vc-container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding:0 10%;
  background:linear-gradient(90deg, #1a1a1a 60%, #1a1a1a 40.1%);
}

.vc-container .side-bar{
  width:400px;
}

.vc-container .side-bar.active{
  display: none;
}

.vc-container .side-bar .list{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.vc-container .side-bar .list li{
  padding:10px 0;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  list-style: none;
}

.vc-container .side-bar .list li::before{
  content: '';
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:-5px;
  width: 0%;
  height: 3px;
  background-color: #fff;
  transition: width .2s linear .2s;
}

.vc-container .side-bar .list li.active,
.vc-container .side-bar .list li:hover{
  font-size: 30px;
}

.vc-container .side-bar .list li.active::before,
.vc-container .side-bar .list li:hover::before{
  right: -5px;
  width: 105%;
}

.vc-container .video-container{
  flex:1;
}

.vc-container .video-container iframe{
  width: 100%;
  object-fit: cover;
}


.vc-container h2{
  text-decoration: underline;
  text-underline: white;
  margin-bottom: 20px;
}

#menu-btn{
  position: fixed;
  top:20px; left:30px;
  font-size: 40px;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width:1200px){
  .vc-container{
    position: relative;
  }

  .vc-container .side-bar{
    position: absolute;
    top:0; left:-110%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    padding:30px;
  }

  .vc-container .side-bar .list{
    height: 100%;
    justify-content: center;
  }

  .vc-container .side-bar.active{
    box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
    display: initial;
    left:0;
  }
}

@media (max-width:450px){

  .vc-container{
    padding:20px;
  }

  .vc-container .side-bar{
    width: 300px;
  }

  .vc-container .side-bar .list li{
    font-size: 15px;
  }

  .vc-container .side-bar .list li.active{
    font-size: 20px;
  }

}


.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 759px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 133px 206px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.66;
  font-size: 2.25rem;
  margin: 41px 206px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.66;
  font-size: 0.875rem;
  margin: 96px 206px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 9px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 71px 570px 0 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: -180px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-right: 350px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 170px;
    height: 170px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 939px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 60px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  line-height: 1.41;
  margin: 20px 570px 0 0;
}

.u-section-3 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
  min-height: 520px;
  grid-gap: 40px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  min-height: 116px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: normal;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 71px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  min-height: 116px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 71px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-group-3 {
  min-height: 116px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-11 {
  margin: 71px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    width: 548px;
    margin-right: 370px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 26.666700000000002px));
    min-height: 429px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    margin-right: 150px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20.000025px));
    min-height: 986px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 939px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 39px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

.u-section-4 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}